
# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.idea/

# normal env files
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# storybook
storybook-static/
